<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>800</integer>
		<key>capHeight</key>
		<integer>646</integer>
		<key>copyright</key>
		<string></string>
		<key>descender</key>
		<integer>-200</integer>
		<key>familyName</key>
		<string>Amiri</string>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeGaspRangeRecords</key>
		<array>
			<dict>
				<key>rangeGaspBehavior</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>rangeMaxPPEM</key>
				<integer>65535</integer>
			</dict>
		</array>
		<key>openTypeHeadCreated</key>
		<string>2010/05/07 21:08:01</string>
		<key>openTypeHheaAscender</key>
		<integer>1124</integer>
		<key>openTypeHheaDescender</key>
		<integer>-634</integer>
		<key>openTypeHheaLineGap</key>
		<integer>0</integer>
		<key>openTypeNameDescription</key>
		<string>Amiri is a classical Arabic typeface in Naskh style for typesetting books and other running text. Its design is a revival of the beautiful typeface pioneered in early 20th century by Bulaq Press in Cairo, also known as Amiria Press, after which the font is named.</string>
		<key>openTypeNameDesigner</key>
		<string>Khaled Hosny</string>
		<key>openTypeNameDesignerURL</key>
		<string>http://www.amirifont.org</string>
		<key>openTypeNameManufacturerURL</key>
		<string>http://www.amirifont.org</string>
		<key>openTypeNameSampleText</key>
		<string>صِفْ خَلْقَ خَوْدٍ كَمِثْلِ ٱلشَّمْسِ إِذْ بَزَغَتْ يَحْظَىٰ ٱلضَّجِيعُ بِهَا نَجْلَاءَ مِعْطَارِ.</string>
		<key>openTypeOS2Panose</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>5</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>openTypeOS2Selection</key>
		<array>
			<integer>7</integer>
		</array>
		<key>openTypeOS2Type</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>1124</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-634</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>0</integer>
		<key>openTypeOS2VendorID</key>
		<string>ALIF</string>
		<key>openTypeOS2WeightClass</key>
		<integer>700</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>openTypeOS2WinAscent</key>
		<integer>1822</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>906</integer>
		<key>openTypeVheaVertTypoLineGap</key>
		<integer>0</integer>
		<key>postscriptFontName</key>
		<string>Amiri-Bold</string>
		<key>postscriptFullName</key>
		<string>Amiri Bold</string>
		<key>postscriptSlantAngle</key>
		<integer>0</integer>
		<key>postscriptUnderlinePosition</key>
		<integer>-512</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>50</integer>
		<key>postscriptWeightName</key>
		<string>Bold</string>
		<key>styleName</key>
		<string>Bold</string>
		<key>unitsPerEm</key>
		<integer>1000</integer>
		<key>xHeight</key>
		<integer>433</integer>
	</dict>
</plist>
