@import url(http://fonts.googleapis.com/css?family=Amiri:400,700&subset=latin,arabic);
@import url(http://fonts.googleapis.com/css?family=Amiri:400italic&subset=latin);

html {
   color: #404040;
   background-color: #fffef8
}

body {
   margin: 0 auto;
   width: 800px;
   font-family: Amiri, serif;
   font-size: 12pt;
   text-align: justify;
}

h1, h2 {
   font-size: 16pt;
   font-weight: 400;
}

a {
   text-decoration: none;
   color: #ad000d;
}

code {
   background: #E6E6E6;
   font-family: Inconsolata, monospace;
}

.ar {
   direction: rtl;
   line-height: 1.5;
   float: right;
   right: 5px;
}

.en {
   hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   direction: ltr;
   line-height: 1.24;
   float: left;
   left: 5px;
}

.column {
   position: relative;
   width: 48%;
}

.banner {
   background: url(banner.jpg) no-repeat 0 10px  /100%;
   border-top: 1px solid #aaaaaa;
   border-bottom: 1px solid #aaaaaa;
   margin: 10px 0;
   padding-top: 33.5%;
   padding-bottom: 53px;
}

.banner .ar img {
   transform: scaleX(-1);
}

span.TEX {
   letter-spacing: -0.125em;
}

span.TEX span.E {
   left: -0.0417em;
   position: relative;
   top: 0.5ex;
}

@media screen and (max-width: 800px) {
   body {
      width: 100%;
   }
}

@media screen and (max-width: 500px) {
   .column {
      width: 98%;
   }

   .ar, .en {
      float: none;
      margin: 0 auto;
      right: 0px;
      left: 0px;
   }

   .banner {
      background-image: none;
      border: none;
      padding: 5px;
      margin: 0 auto;
   }

   h1 {
      text-align: center;
   }

   .banner img {
      display: none;
   }
}
