@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600);
@import url(amiri/amiri.css);

html, div {
   margin: 0px;
   padding: 0;
   border: 0;
   color: #404040;
   background-color: #fffef8
}

body {
   border-width: 0px;
   padding: 0px;
   margin: 0px;
   position: relative;
   width: 800px;
   margin-right: auto;
   margin-left: auto;
}

div.ar {
   direction: rtl;
   font-family: "AmiriWeb";
   line-height: 1.59;
   float: right;
   right: 5px;
}

div.en {
   direction: ltr;
   font-family: "Crimson Text";
   line-height: 1.22;
   float: left;
   left: 5px;
}

h1 {
   color: #404040;
   font-size: 16pt;
   font-weight: 400;
}

a {
   text-decoration: none;
   color: #ad000d
}

tt {
   background: #E6E6E6;
}

.column {
   position: relative;
   width: 375px;
   text-align: justify;
   font-size: 12pt;
}

.fullwidth {
   position: relative;
   font-size: 9pt;
   width: 775px;
   height: 53px;
   background-color: #ffffff;
   border-bottom: 1px solid #aaaaaa;
   margin-bottom: 10px;
   padding: 10px;
}
