@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,600);
@import url(amiri/amiri.css);

html, div {
   color: #404040;
   background-color: #fffef8
}

body {
   margin: 0 auto;
   width: 800px;
}

h1 {
   font-size: 16pt;
   font-weight: 400;
}

a {
   text-decoration: none;
   color: #ad000d
}

tt {
   background: #E6E6E6;
}

.ar {
   direction: rtl;
   font-family: "AmiriWeb";
   line-height: 1.59;
   float: right;
   right: 5px;
}

.en {
   direction: ltr;
   font-family: "Crimson Text";
   line-height: 1.22;
   float: left;
   left: 5px;
}

.column {
   position: relative;
   width: 375px;
   text-align: justify;
   font-size: 12pt;
}

.fullwidth {
   font-size: 9pt;
   height: 53px;
   border-bottom: 1px solid #aaaaaa;
   margin-bottom: 10px;
   padding: 10px;
}
