
@font-face {
    font-style: normal;
    font-weight: 500;
    font-family: AmiriWeb;
    src: url('amiri-regular.eot?') format('eot'),
         url('amiri-regular.woff') format('woff'),
         url('amiri-regular.ttf')  format('truetype');
}
